/* These are some examples of CSS for my "Some CSS" page. */

div.h1 {
  text-align: center;
  font-size: 2em;
  display: block;
  font-weight: bold;
  color: white;
}

body {
  background-color: black;
  color: white;
}

div.a {
  font-size: 1em;
}
